/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar-container {
  padding: 0;
  position: relative;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-menu li {
  position: relative;
  padding: 10px 0 10px 12px;
}

.navbar-menu a {
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
}

.navbar-menu a:hover,
.navbar-menu .active {
  color: #fff;
}

/* Mobile Navigation */
@media (max-width: 991px) {
  .mobile-nav-toggle {
      display: block;
      font-size: 28px;
      cursor: pointer;
      color: #fff;
  }

  .navbar-menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      padding-top: 20px;
      z-index: 1000;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
  }

  .navbar-menu li {
      padding: 10px 20px;
  }

  .navbar-menu a {
      font-size: 16px;
      color: rgba(202, 206, 221, 0.8);
  }

  .navbar-menu a:hover {
      color: orange;
  }

  .navbar-container.mobile-nav-open .navbar-menu {
      display: flex;
      transform: translateX(0);
  }
}
